{% block head %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>bienFacile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% if debug %}/static/publish/base.css{% else %}https://s3-eu-west-1.amazonaws.com/classifiedstatic/base.css{% endif %}" rel="stylesheet">

{% block extrahead %}
{% endblock %}{# /extrahead #}

  </head>
<body class="overflow-hidden">


{% endblock %}{# /head #}
{% block main %}
<div id="wrapper">
     
{% block topnavigation %}
        <div id="top-nav" class="fixed skin-1">
            <a href="/" class="brand"><span>bien</span><span class="text-toggle">Facile</span></a><!-- /brand -->                 
            <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle pull-left hide-menu" id="menuToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav-notification clearfix">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-lg"></i>
                        <span class="notification-label bounceIn animation-delay4">7</span>
                    </a>
                    <ul class="dropdown-menu message dropdown-1">
                        <li><a>You have 4 new unread messages</a></li>                    
                        <li>
                            <a class="clearfix" href="#">
                                <img src="{{ MEDIA_URL }}{{user.photo}}" alt="User Avatar">
                                <div class="detail">
                                    <strong>John Doe</strong>
                                    <p class="no-margin">
                                        Lorem ipsum dolor sit amet...
                                    </p>
                                    <small class="text-muted"><i class="fa fa-check text-success"></i> 27m ago</small>
                                </div>
                            </a>    
                        </li>
                        <li>
                            <a class="clearfix" href="#">
                                <img src="{{ MEDIA_URL }}{{user.photo}}" alt="User Avatar">
                                <div class="detail">
                                    <strong>Jane Doe</strong>
                                    <p class="no-margin">
                                        Lorem ipsum dolor sit amet...
                                    </p>
                                    <small class="text-muted"><i class="fa fa-check text-success"></i> 5hr ago</small>
                                </div>
                            </a>    
                        </li>
                        <li>
                            <a class="clearfix" href="#">
                                <img src="img/user.jpg" alt="User Avatar">
                                <div class="detail">
                                    <strong>Bill Doe</strong>
                                    <p class="no-margin">
                                        Lorem ipsum dolor sit amet...
                                    </p>
                                    <small class="text-muted"><i class="fa fa-reply"></i> Yesterday</small>
                                </div>
                            </a>    
                        </li>
                        <li>
                            <a class="clearfix" href="#">
                                <img src="{{ MEDIA_URL }}{{user.photo}}" alt="User Avatar">
                                <div class="detail">
                                    <strong>Baby Doe</strong>
                                    <p class="no-margin">
                                        Lorem ipsum dolor sit amet...
                                    </p>
                                    <small class="text-muted"><i class="fa fa-reply"></i> 9 Feb 2013</small>
                                </div>
                            </a>    
                        </li>
                        <li><a href="#">View all messages</a></li>                    
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-home fa-lg"></i>
                        <span class="notification-label bounceIn animation-delay6">5</span>
                    </a>
                    <ul class="dropdown-menu notification dropdown-3">
                        <li><a href="#">You have 5 new notifications</a></li>                     
                        <li>
                            <a href="#">
                                <span class="notification-icon bg-warning">
                                    <i class="fa fa-warning"></i>
                                </span>
                                <span class="m-left-xs">Server #2 not responding.</span>
                                <span class="time text-muted">Just now</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="notification-icon bg-success">
                                    <i class="fa fa-plus"></i>
                                </span>
                                <span class="m-left-xs">New user registration.</span>
                                <span class="time text-muted">2m ago</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="notification-icon bg-danger">
                                    <i class="fa fa-bolt"></i>
                                </span>
                                <span class="m-left-xs">Application error.</span>
                                <span class="time text-muted">5m ago</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="notification-icon bg-success">
                                    <i class="fa fa-usd"></i>
                                </span>
                                <span class="m-left-xs">2 items sold.</span>
                                <span class="time text-muted">1hr ago</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="notification-icon bg-success">
                                    <i class="fa fa-plus"></i>
                                </span>
                                <span class="m-left-xs">New user registration.</span>
                                <span class="time text-muted">1hr ago</span>
                            </a>
                        </li>
                        <li><a href="#">View all notifications</a></li>                   
                    </ul>
                </li>
                <li class="profile dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <strong>{{user}}</strong>
                        <span><i class="fa fa-chevron-down"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="clearfix" href="#">
                                <img src="{{ MEDIA_URL }}{{user.photo}}" alt="{{user}}">
                                <div class="detail">
                                    <strong>{{user}}</strong>
                                    <p class="grey">{{ user.email }}</p> 
                                </div>
                            </a>
                        </li>
                        <li><a tabindex="-1" href="profile.html" class="main-link"><i class="fa fa-edit fa-lg"></i> Change préférences</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" class="main-link logoutConfirm_open" href="#logoutConfirm"><i class="fa fa-lock fa-lg"></i> Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /top-nav-->

{% endblock %}{# /topnavigation #}
  
{% block sidebar %}
        <aside class="fixed skin-1">
            <div class="sidebar-inner scrollable-sidebar">
                <div class="size-toggle">
                    <a class="btn btn-sm" id="sizeToggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="btn btn-sm pull-right logoutConfirm_open"  href="#logoutConfirm">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div><!-- /size-toggle --> 
                <div class="user-block clearfix">
                    <img src="{{ MEDIA_URL }}{{user.photo}}" alt="{{user}}">
                    <div class="detail">
                        <strong>{{user}}</strong>
                        <ul class="list-inline">
                            <li><a href="/profile/">Préférences</a></li>
                        </ul>
                    </div>
                </div><!-- /user-block -->
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="inbox.html">
                                <span class="menu-icon">
                                    <i class="fa fa-envelope fa-lg"></i> 
                                </span>
                                <span class="text">
                                    Inbox
                                </span>
                                <span class="badge badge-danger bounceIn animation-delay6">7</span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                        <li class="openable open">
                            <a href="#">
                                <span class="menu-icon">
                                    <i class="fa fa-home fa-lg"></i> 
                                </span>
                                <span class="text">
                                    Annonces
                                </span>
                                <span class="badge badge-danger m-left-xs bounceIn animation-delay4">5</span>
                                <span class="menu-hover"></span>
                            </a>
                            <ul class="submenu">
                                <li><a href="/annonces/2/"><span class="submenu-label">Depuis hier</span></a></li>
                                <li><a href="/annonces/7/"><span class="submenu-label">Une semaine</span></a></li>
                                <li><a href="/annonces/30/"><span class="submenu-label">Une mois</span></a></li>
                                <li class="divider"></li>
                               <li><a href="/annonces/0/"><span class="submenu-label"><span class="menu-icon"><i class="fa fa-star fa-lg"></i></span> Favouris</span></a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/help/">
                                <span class="menu-icon">
                                    <i class="fa fa-info-circle fa-lg"></i> 
                                </span>
                                <span class="text">
                                    Aide
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="alert alert-info">
                        Bêta privé, réservé aux membres
                    </div>
                </div><!-- /main-menu -->
            </div><!-- /sidebar-inner -->
        </aside>

{% endblock %}{# /topnavigation #}
<div id="main-container">
{% block content %}
bienFacile holding page
{% endblock %}{# /content #}
</div>
{% block footer %}
<footer>
</footer>
{% endblock %}{# /footer #}
</div>

    <!-- Logout confirmation -->
    <div class="custom-popup width-100" id="logoutConfirm">
        <div class="padding-md">
            <h4 class="m-top-none"> Do you want to logout?</h4>
        </div>

        <div class="text-center">
            <a class="btn btn-success m-right-sm" href="/accounts/logout/">Logout</a>
            <a class="btn btn-danger logoutConfirm_close">Cancel</a>
        </div>
    </div>
    

    <!-- Placed at the end of the document so the pages load faster -->
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="application/json" src="{% if debug %}
    /static/publish/base.js{% else %}https://s3-eu-west-1.amazonaws.com/classifiedstatic/base.js{% endif %}">

    </script>
  {% block endscripts %}
   {% endblock %}
  </body>
</html>
{% endblock %}{# /main #}