
/* Custom */

.agency {
/*  display: none; */
width: 320px;
  margin: 0 6px 12px 6px;
  background: #fff;
  font: normal 13px/18px Arial, sans-serif;
  color: #000;
  padding: 10px 15px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    color: #FFF;
    z-index: 2;
}
.agency img {
    z-index: 1;
    text-align: center; /* ensures the image is always in the h-middle */
}

